@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --cor00: #FFC873;
    --cor01: #FF9900;
    --cor02: #CC7A00;
    --cor03: #806B4D;
    --cor04: #804D00;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-poema: 'Amatic SC', 'cursive';
    --fonte-header: 'Passion One', 'cursive';

}

* {
    padding: 0px;
    margin: 0px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

body {
    font-family: var(--fonte-padrao);
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-header);
    font-size: 70px;
    padding-top: 30px;
    font-weight: normal;
}

header > p {
    padding-bottom: 20px;
}

section {
    background-color: white;
    padding: 100px 20px;
}

section p{
    padding: 20px 10px;
}

section.imagem {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 5px 5px 14px #00000080;

}

section#imagem1 {
    background-image: url('../imagens/cacto.jpeg');
    background-position: center bottom;
}

section#imagem2 {
    background-image: url('../imagens/fazenda.jpeg');
    background-position: center bottom;

}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
    display: inline-block;
}

article {
    font-family: var(--fonte-poema);
    line-height: 2em;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);
    font-size: 25px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}


