@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --cor00: #FFC873;
    --cor01: #FF9900;
    --cor02: #CC7A00;
    --cor03: #806B4D;
    --cor04: #804D00;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-poema: 'Indie Flower', 'cursive';
    --fonte-header: 'Passion One', 'cursive';

}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: var(--fonte-padrao);
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-header);
    font-size: 70px;
    padding-top: 30px;
    font-weight: normal;
}

header > p {
    padding-bottom: 20px;
}

section {
    background-color: white;
    padding: 100px 20px;
    font-size: 25px;
}

section p{
    padding: 10px;
}

section.imagem > article {
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
}

section.imagem {
    background-attachment: fixed;
}

section#imagem1 {
    background-image: url('../imagens/cacto.jpeg');
    background-position: center bottom;
}

section#imagem2 {
    background-image: url('../imagens/fazenda.jpeg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

article {
    font-family: var(--fonte-poema);
    line-height: 2em;
}

footer {
    background-color: black;
    color: white;

}

